%Button {
    border: none;
    padding: 5pt;
    font-weight: bold;
    cursor: pointer;
    width: 65pt;
}

%blueButton {
    @extend %Button;
    background: #64aec7;
    color: white;
    &:hover {
        background: darken(#64aec7, 20%);
        transition: 0.4s;
    }
}

%greenButton {
    @extend %Button;
    background: #358522;
    color: white;
    &:hover {
        background: darken(#358522, 20%);
        transition: 0.4s;
    }
}

.userform {
    width: 100%;
    height: 100%;
    border: 1px solid #e3e7f5;
    background-color: #e3e7f5;
    .heading {
        text-align: center;
        margin-top: 5pt;
        margin-bottom: 5pt;
        font-weight: bold;
        color: #3f788c;
        font-size: 16px;
    }
    input[type="submit"] {
        @extend %blueButton;
        margin-top: 5pt;
        margin-left: 5pt;
    }
    .btnRegister {
        @extend %greenButton;
        float: right;
        margin-top: 5pt;
        margin-left: 5pt;
        margin-right: 17px;
    }
    input[type="text"],
    input[type="password"] {
        display: block;
        width: 89%;
        padding: 5pt;
        margin-top: 5pt;
        margin-left: 5pt;
    }
    .loginButton {
        margin-top: 5pt;
        margin-left: 5pt;
    }
}